<!DOCTYPE html>
<html lang="en">
<head><% include partials/head.ejs %></head>
<body>
	<% include partials/header.ejs %>
	<div class="container">
		<h3>Welcome to <%= title %>!</h3>
		<div id="signUpFormContainer">
			<h5>If you're a new user, please sign up</h5>
			<form action="/users/new" method="POST" >
				<div class="form-group">
					<label for="username">User Name: </label>
					<input type="text" name="username" class="form-control" required/> 
				</div>
				<div class="form-group">
					<label for="name">Name: </label>
					<input type="text" name="name" class="form-control" required/>
				</div>
				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" name="password" class="form-control" required/>
				</div>
				<div >
					<button type="submit" id="submitButton" class="btn btn-default">Sign Up</button>
				</div>
				<div id="login">
					<span>If you're already a user login </span><a href="/login">here</a>.
				</div>
			</form>
		</div> <!--  Sign Up Form -->
	</div> <!-- Container -->

	<% include partials/footer.ejs %>
	<% include partials/jsdefaults.ejs %>
</body>
</html>
