<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
    <% userlist.forEach(function(user){ %>
    	<li> <%= user.username %> </li>
	<% }) %>
    </ul>
  </body>
</html>