body {
	padding: 50px;
	background-color: hsla(193, 100%, 91%, 1) !important;
}

a {
	color: #00B7FF;
}

li{
	list-style: none;
}

.container{
	margin: 20px auto;
}

.mainFormContainer{
	margin: 0 auto;
	padding: 50px;
	max-width: 450px;
	min-width: 400px;
	background-color: hsla(193, 0%, 70%, .65);
	border-radius: 3px;
	box-shadow: 5px 5px 10px #ccc;
}

#login{
	text-align: center;
	margin: 10px;
}

#headerSignButton{
	width: 100%;
	background-color: #222;
	color: #fff;
	border: none;
}

#headerSignButton:hover{
	background-color: #080808;
}

#myTweet{
	max-width: 60%;
	min-width: 400px;
	margin: 0 auto;
}

.tweetContainer{
	background-color: #fff;
	max-width: 650px;
	margin: 5px;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 5px 5px 40px #ccc;
	display: inline-block;
}

.tweetContainer:hover{
	background-color: #f5f5f5;
}

#tweetFeed{
	margin: 0 auto;
	max-width: 60%;
	min-width: 400px;
}

.tweet-username{
	font-weight: bold;
}

.editForm{
	display:none;
}

.editTweetArea{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 3px;
	border-color: #adadad;
	resize: none;
}

.left{
	float: left;
	margin-right:5px;
}