body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

#signUpFormContainer{
	margin: 0 auto;
	max-width: 250px;
}

#loginFormContainer{
	margin: 0 auto;
	max-width: 250px;
}

#login{
	text-align: center;
	margin: 10px;
}

#headerSignButton{
	width: 100%;
	background-color: #222;
	color: #fff;
	border: none;
}

#headerSignButton:hover{
	background-color: #080808;
}

.tweetContainer{
	background-color: hsl(190, 100%, 70%);
	max-width: 650px;
	margin: 5px;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 5px 5px 40px #ccc;
}

#tweetFeed{
	margin: 0 auto;
	max-width: 60%;
	min-width: 400px;
}

li{
	list-style: none;
}

.editTweetArea{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 3px;
	border-color: #adadad;
	resize: none;
}